<div class="container-fluid nav-container">
  <div class="row no-gutters position-relative">
    <div class="col">
      <nav>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <%= link_to 'Strona główna', teasers_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Aktualności', news_index_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Odbudujmy 3/4', actions_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Osiedle', houses_path, class: "nav-link" %>
          </li>
        </ul>

        <% if session[:admin] then %>
          <%= link_to logout_path, class: "position-absolute editBtn" do %>
            <span class="btn btn-warning" aria-hidden="true">Log out</span>
          <% end %>
        <% end %>

      </nav>
    </div>
  </div>
</div>
