<div class="container show-container">
  <article class="post">
    <div class="row">
      <div class="col">
        <h1><%= @post.title %></h1>
        <p><%= raw SafeHtml.relaxed(@post.content) %></p>
        <% if @post.image_url %>
          <%= image_tag @post.image_url.to_s, alt: "Image", class: "img-fluid postImg" %>
        <% end %>
        <% if session[:admin] %>
          <%= link_to @post, method: :edit, class: "btn btn-default" do %>
            <span class="btn btn-warning" aria-hidden="true">Edit post</span>
          <% end %>
          <%= link_to @post, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" do %>
            <span class="btn btn-danger" aria-hidden="true">Delete post</span>
          <% end %>
        <% end %>
      </div>
    </div>
  </article>
</div>
