<%= form_for @post, html: { multipart: true } do |f| %>

  <%= render 'shared/error_messages' %>

  <%= f.collection_select(:category_id, Category.all, :id, :name, { prompt: "Choose a category" }) %><br>
  <%= f.select :type, Post.type.options, { prompt: "Choose post type" } %><br><br>
  <%= f.label :title %><br>
  <%= f.text_field :title, placeholder: "Type the post title here" %><br>
  <br>
  <p>Apart from plain text, in DESCRIPTION and CONTENT you can use basic html and css: style text, add links and even images (with img tags and external urls as src). You can use any classes from <%= link_to "bootstrap framework", "https://getbootstrap.com/", target: "_blank", rel: "nofollow" %>.</p>
  <%= f.label :description %><br>
  <%= f.text_area :description, size: "60x12",
    placeholder: "Description will appear on the post's list in the category you chose. If you chose full_width_image, keep it very short, or text might be not fully visible on the page. For half_width_image, it should be quite short too, otherwise it might look bad. It can be longer for no_image." %><br><br>
  <%= f.label :content %><br>
  <%= f.text_area :content, size: "60x12", placeholder: "Content will appear on the new page, after clicking 'show more' button. You can skip it - in this case there will be no 'show more' button at all." %><br><br>
  <%= f.label :image %><br>
  <p>Please use only horizontally oriented images. Standard rectangular format is preferred. Square or vertically oriented images might be cut in case of full_width_image, and they might take too much of the page area with half_width_image.</p>
  <%= f.file_field :image %><br><br>

  <%= f.submit %>

<% end %>
